<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/Logo.png" alt="Hero-Buy Logo">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">Shoping Cart</a>
        </li>
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a type="text" class="btn" id="dropdownBasic1" ngbDropdownToggle>
                Username
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="dropdown-item" routerLink="my-orders">My orders</a>
                <a class="dropdown-item" routerLink="/admin/orders">Manage my orders</a>
                <a class="dropdown-item" routerLink="/admin/products">Manage my psroducts</a>
                <a class="dropdown-item">Log out</a>

              </div>
            </div>
          </div>
        </div>
      </ul>
    
    </div>
  </div>
</nav>
